html {
  height: 100%;
  width: 100%;
  background-color: #335C67;
  justify-content: center;
  text-align: center;
}
.header{
  color: #E09F3E;
  font-size: 30px;
  text-align: center;
  border: 10px solid #E09F3E;
}
.button{
  background-color: #540B0E;
  color: #FFF3B0;
  font-size: 15px;
  padding: 20px;
  border-radius: 12px;
  cursor: pointer;
}
.button:hover{
  background-color: #9E2A2B;
}
.answer{
  background-color: #540B0E;
  color: #FFF3B0;
  font-size: 20px;
  width: 30%;
  text-align: center;
  border: 10px solid #FFF3B0
}
